[Unit]
Description=Execute the script with the configuration of the Nespi4Case.
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/bin/python3 /opt/delirio/espi4case.rpi.gpio.py

[Install]
WantedBy=multi-user.target